In [33]:
import pandas as pd
import numpy as np
from itertools import combinations

In [15]:
df=pd.DataFrame(np.array(range(25)).reshape(5,5))

In [19]:
indx_dct=df.to_dict()

In [18]:
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [23]:
lst=indx_dct[0].keys()

In [46]:
def traversal_(r,c):
    dct={}
    bndry = df.shape
    
    if (r >=0 and r<= bndry[0]):
        dct[r]=[x for x in [c-1,c+1] if (x >=0 and x<= bndry[1])]
        
    if (r-1 >=0 and r-1<= bndry[0]): 
        dct[r-1]=[x for x in [c-1,c,c+1] if (x >=0 and x<= bndry[1])]
    
    if (r+1 >=0 and r+1<= bndry[0]):
        dct[r+1]=[x for x in [c-1,c,c+1] if (x >=0 and x<= bndry[1])  ]
    
        
    return dct

In [50]:
# from row 3 column 2 I can go to row 2 col 1,2 or 3
# or row 3 col 1 or 3 .... 
traversal_(3,2)

{2: [1, 2, 3], 3: [1, 3], 4: [1, 2, 3]}

In [49]:
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24